.cm-s-reactpresents.CodeMirror {
  height: auto;
  border-radius: 0.5rem;
  padding: 1rem;
}

.cm-s-reactpresents.CodeMirror, .cm-s-reactpresents .CodeMirror-gutters {
  background-color: #222 !important;
  color: #f8f8f2 !important;
  font-size: 12px;
  border: none;
}
.cm-s-reactpresents .CodeMirror-gutters { color: #222; }
.cm-s-reactpresents .CodeMirror-cursor { border-left: solid thin #ddd; }
.cm-s-reactpresents .CodeMirror-linenumber { cololibr: #75715e; }
.cm-s-reactpresents.CodeMirror-focused div.CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
.cm-s-reactpresents .CodeMirror-line::selection, .cm-s-reactpresents .CodeMirror-line > span::selection, .cm-s-reactpresents .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-reactpresents .CodeMirror-line::-moz-selection, .cm-s-reactpresents .CodeMirror-line > span::-moz-selection, .cm-s-reactpresents .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-reactpresents span.cm-comment { color: #75715e; }
.cm-s-reactpresents span.cm-string, .cm-s-reactpresents span.cm-string-2 { color: #f1fa8c; }
.cm-s-reactpresents span.cm-number { color: #bd93f9; }
.cm-s-reactpresents span.cm-variable { color: #ddd; }
.cm-s-reactpresents span.cm-variable-2 { color: white; }
.cm-s-reactpresents span.cm-def { color: #a6e22e; }
.cm-s-reactpresents span.cm-keyword { color: #f92672; }
.cm-s-reactpresents span.cm-operator { color: #f92672; }
.cm-s-reactpresents span.cm-keyword { color: #f92672; }
.cm-s-reactpresents span.cm-atom { color: #bd93f9; }
.cm-s-reactpresents span.cm-meta { color: #f8f8f2; }
.cm-s-reactpresents span.cm-tag { color: #f92672; }
.cm-s-reactpresents span.cm-attribute { color: #ddd; }
.cm-s-reactpresents span.cm-qualifier { color: #a6e22e; }
.cm-s-reactpresents span.cm-property { color: #66d9ef; }
.cm-s-reactpresents span.cm-builtin { color: #a6e22e; }
.cm-s-reactpresents span.cm-variable-3 { color: #a6e22e; }

.cm-s-reactpresents .CodeMirror-activeline-background { background: rgba(255,255,255,0.1); }
.cm-s-reactpresents .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }

.cm-s-reactpresents span.cm-bracket { color: #900; }

.cm-s-reactpresents span.dim {
  opacity: 0.5;
  filter: grayscale(100%);
}

.cm-s-reactpresents span.highlight {
  background-color: rgba(189,147,249, .2);
}
